* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    cursor: pointer;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    border: 3px solid rgb(245, 170, 170);
    cursor: pointer;
}

body {
    background-color: #35858b;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    padding: 20px;
    line-height: 1.5rem;
}

.container {
    background-color: #fdebf7;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

.items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

h2 {
    color: #362222;
}

h4 {
    color: #ffc900;
    margin-bottom: 10px;
    width: fit-content;
    background-color: #362222;
    border-radius: 5px;
    padding-right: 10px;
}
h4:hover {
    opacity: 95;
}
span {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #072227;
    transition: 0.5s ease;
}
span:hover {
    cursor: pointer;
    background-color: #524a4e;
}
.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 65px;
    background-color: #2c3333;
    z-index: 1000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarNav {
    width: 100%;
    margin-top: 0.75rem;
    overflow-y: hidden;
}

.navbarListItems {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.navbarListItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbarListItem:hover {
    opacity: 0.8;
}

@media (max-width: 780px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 400px;
        margin-bottom: 40px;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow-y: auto;
    }
    h2 {
        font-size: 1rem;
    }
}
